In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Salaries.csv")

In [ ]:
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
## Read all the data
pd.set_option('display.max_rows',None)
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
## To read till particular row
pd.set_option('display.max_rows',50)
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
## Likewise To read all the columns
pd.set_option('display.max_columns', None)
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
## Describe the data
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
## include only object
df.describe(include='O')

        rank discipline   sex
count     78         78    78
unique     3          2     2
top     Prof          B  Male
freq      46         42    39

In [ ]:
## Extracting only column names
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
## Selecting single and multiple columns
df['rank']

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [ ]:
df[['rank','sex']]

         rank     sex
0        Prof    Male
1        Prof    Male
2        Prof    Male
3        Prof    Male
4        Prof    Male
..        ...     ...
73       Prof  Female
74  AssocProf  Female
75       Prof  Female
76       Prof  Female
77       Prof  Female

[78 rows x 2 columns]

In [ ]:
## selecting columns with loc and i loc
# loc - we can extract using the column name(label) 
# iloc - we can extract only using index number

In [ ]:
df.loc[:,'rank']

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [ ]:
df.loc[:,]

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
df.loc[:,'rank':'service']

         rank discipline  phd  service
0        Prof          B   56       49
1        Prof          A   12        6
2        Prof          A   23       20
3        Prof          A   40       31
4        Prof          B   20       18
..        ...        ...  ...      ...
73       Prof          B   18       10
74  AssocProf          B   19        6
75       Prof          B   17       17
76       Prof          A   28       14
77       Prof          A   23       15

[78 rows x 4 columns]

In [ ]:
df.iloc[:,1:4]

   discipline  phd  service
0           B   56       49
1           A   12        6
2           A   23       20
3           A   40       31
4           B   20       18
..        ...  ...      ...
73          B   18       10
74          B   19        6
75          B   17       17
76          A   28       14
77          A   23       15

[78 rows x 3 columns]

In [ ]:
df.iloc[:,:3]

         rank discipline  phd
0        Prof          B   56
1        Prof          A   12
2        Prof          A   23
3        Prof          A   40
4        Prof          B   20
..        ...        ...  ...
73       Prof          B   18
74  AssocProf          B   19
75       Prof          B   17
76       Prof          A   28
77       Prof          A   23

[78 rows x 3 columns]

In [ ]:
## Extract values from 5th and 45 from phd, service, sex and salary column

In [ ]:
df.head(2)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000

In [ ]:
df.iloc[5:46,2:5]

    phd  service     sex
5    20       20    Male
6    20       17    Male
7    18       18    Male
8    29       19    Male
9    51       51    Male
10   39       33    Male
11   23       23    Male
12    1        0    Male
13   35       33    Male
14   25       19    Male
15   17        3    Male
16    8        3    Male
17    4        0    Male
18   19        7    Male
19   29       27    Male
20    4        4    Male
21   33       30    Male
22    4        2    Male
23    2        0    Male
24   30       23    Male
25   35       31    Male
26   38       19    Male
27   45       43    Male
28    7        2    Male
29   21       20    Male
30    9        7    Male
31   22       21    Male
32   27       19    Male
33   18       18    Male
34   12        8    Male
35   28       23    Male
36   45       45    Male
37   20        8    Male
38    4        3    Male
39   18       18  Female
40   39       36  Female
41   13        8  Female
42    4        2  Female
43    5        0  Female
44   23       19  Female
45   25       25  Female

In [ ]:
## Value Counts

In [ ]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [ ]:
df['rank'].nunique()

3

In [ ]:
df['rank'].unique()

array(['Prof', 'AssocProf', 'AsstProf'], dtype=object)

In [ ]:
## Renaming Columns - This is temporary renaming for our reference

In [ ]:
df.rename(columns={'rank':'RANK'})

         RANK discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
df.rename(columns={'phd':'PHD','sex':'SEX'})

         rank discipline  PHD  service     SEX  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

# **Filtering in Pandas**

In [ ]:
df['sex'].value_counts()

Male      39
Female    39
Name: sex, dtype: int64

In [ ]:
df['sex'] == 'Male'

0      True
1      True
2      True
3      True
4      True
      ...
73    False
74    False
75    False
76    False
77    False
Name: sex, Length: 78, dtype: bool

In [ ]:
## filtering only male
df[df['sex'] == 'Male']

         rank discipline  phd  service   sex  salary
0        Prof          B   56       49  Male  186960
1        Prof          A   12        6  Male   93000
2        Prof          A   23       20  Male  110515
3        Prof          A   40       31  Male  131205
4        Prof          B   20       18  Male  104800
5        Prof          A   20       20  Male  122400
6   AssocProf          A   20       17  Male   81285
7        Prof          A   18       18  Male  126300
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
10       Prof          B   39       33  Male  128250
11       Prof          B   23       23  Male  134778
12   AsstProf          B    1        0  Male   88000
13       Prof          B   35       33  Male  162200
14       Prof          B   25       19  Male  153750
15       Prof          B   17        3  Male  150480
16   AsstProf          B    8        3  Male   75044
17   AsstProf          B    4        0  Male   92000
18       Prof          A   19        7  Male  107300
19       Prof          A   29       27  Male  150500
20   AsstProf          B    4        4  Male   92000
21       Prof          A   33       30  Male  103106
22   AsstProf          A    4        2  Male   73000
23   AsstProf          A    2        0  Male   85000
24       Prof          A   30       23  Male   91100
25       Prof          B   35       31  Male   99418
26       Prof          A   38       19  Male  148750
27       Prof          A   45       43  Male  155865
28   AsstProf          B    7        2  Male   91300
29       Prof          B   21       20  Male  123683
30  AssocProf          B    9        7  Male  107008
31       Prof          B   22       21  Male  155750
32       Prof          A   27       19  Male  103275
33       Prof          B   18       18  Male  120000
34  AssocProf          B   12        8  Male  119800
35       Prof          B   28       23  Male  126933
36       Prof          B   45       45  Male  146856
37       Prof          A   20        8  Male  102000
38   AsstProf          B    4        3  Male   91000

In [ ]:
## Salary is greater than 150000
df[df['salary'] > 150000]

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
19  Prof          A   29       27    Male  150500
27  Prof          A   45       43    Male  155865
31  Prof          B   22       21    Male  155750
44  Prof          B   23       19  Female  151768
72  Prof          B   24       15  Female  161101

In [ ]:
## Find Salary is greater than 150000 and Female 
## (For AND use &, for OR use | )

In [ ]:
df[(df['sex'] == 'Female') & (df['salary'] > 150000)]

    rank discipline  phd  service     sex  salary
44  Prof          B   23       19  Female  151768
72  Prof          B   24       15  Female  161101

In [ ]:
## What is the average salary of females?

In [ ]:
df[df['sex'] == 'Female']['salary'] . mean()]

101002.41025641025

In [ ]:
## We can assign this code to get value to a variable and call it whenever we want

In [ ]:
Avg_sal_female = df[df['sex'] == 'Female']['salary'] . mean()

In [ ]:
print("The average salary of feamale is : ", Avg_sal_female )

The average salary of feamale is :  101002.41025641025

In [ ]:
## What is the average salary of rank prof and discipline is A?

In [ ]:
df[(df['rank'] == 'Prof') & (df['discipline'] == 'A')]['salary'] . mean()

111935.69565217392

In [ ]:
df['salary'].mean()

108023.78205128205

In [ ]:
## What is the average salary of rank associate prof?

In [ ]:
df[df['rank'] == 'AssocProf']['salary'] . mean()

91786.23076923077

# **GROUP BY FUNCTION**

In [ ]:
df.groupby('rank')['salary'] . mean()

rank
AssocProf     91786.230769
AsstProf      81362.789474
Prof         123624.804348
Name: salary, dtype: float64

In [ ]:
df.groupby(['rank','sex'])['salary'] . mean()

rank       sex
AssocProf  Female     88512.800000
           Male      102697.666667
AsstProf   Female     78049.909091
           Male       85918.000000
Prof       Female    121967.611111
           Male      124690.142857
Name: salary, dtype: float64

In [ ]:
df.groupby('rank') ['salary'].agg(['min','max','mean','median'])

             min     max           mean    median
rank
AssocProf  62884  119800   91786.230769  103613.0
AsstProf   63100   97032   81362.789474   78500.0
Prof       57800  186960  123624.804348  123321.5